<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kinglloy.album">

  <uses-feature
    android:name="android.software.live_wallpaper"
    android:required="true" />
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.READ_SYNC_STATS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name=".AlbumApplication"
    android:roundIcon="@drawable/ic_launcher"
    android:supportsRtl="true">

    <activity
      android:name=".view.activity.WallpaperListActivityV2"
      android:theme="@style/Theme.WallpaperList" />
    <activity
      android:name=".view.activity.MainActivity"
      android:theme="@style/Theme.MainActivity" />

    <activity
      android:label="@string/watch_ad"
      android:name=".view.activity.ADActivity"
      android:parentActivityName=".view.activity.MainActivity"
      android:theme="@style/Theme.AD" />

    <activity
      android:name=".view.activity.WallpaperListActivity"
      android:theme="@style/Theme.WallpaperList" />

    <activity
      android:label="@string/about"
      android:name=".view.activity.AboutActivity"
      android:parentActivityName=".view.activity.WallpaperListActivityV2"
      android:theme="@style/Theme.About" />

    <activity
      android:name=".view.activity.PayActivity"
      android:theme="@style/Theme.Pay" />

    <activity
      android:name=".view.activity.MyWallpapersActivity"
      android:theme="@style/Theme.MyWallpapers" />

    <!--<service-->
      <!--android:name=".AlbumWallpaperService"-->
      <!--android:permission="android.permission.BIND_WALLPAPER"-->
      <!--android:process=":album">-->
      <!--<intent-filter>-->
        <!--<action android:name="android.service.wallpaper.WallpaperService" />-->
      <!--</intent-filter>-->
      <!--<meta-data-->
        <!--android:name="android.service.wallpaper"-->
        <!--android:resource="@xml/wallpaper" />-->
    <!--</service>-->

    <!--<service-->
      <!--android:name=".AlbumWallpaperServiceMirror"-->
      <!--android:permission="android.permission.BIND_WALLPAPER"-->
      <!--android:process=":album_mirror">-->
      <!--<intent-filter>-->
        <!--<action android:name="android.service.wallpaper.WallpaperService" />-->
      <!--</intent-filter>-->
      <!--<meta-data-->
        <!--android:name="android.service.wallpaper"-->
        <!--android:resource="@xml/wallpaper" />-->
    <!--</service>-->

    <service
        android:name=".AlbumWallpaperService"
        android:permission="android.permission.BIND_WALLPAPER"
        >
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
          android:name="android.service.wallpaper"
          android:resource="@xml/wallpaper" />
    </service>

    <service
        android:name=".AlbumWallpaperServiceMirror"
        android:permission="android.permission.BIND_WALLPAPER"
        >
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
          android:name="android.service.wallpaper"
          android:resource="@xml/wallpaper" />
    </service>

    <meta-data
      android:name="com.google.android.gms.wallet.api.enabled"
      android:value="true" />
  </application>

</manifest>